@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

body {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #ffe6e6;
  padding-top: 140px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  z-index: 10000;
  top: 0px;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 700px) {
  body {
    padding-top: 50px;
  }

  nav  ul {
    display: flex;
    justify-content: flex-end;
  }
}

#welcome-section {
  min-height: 100vh;
}
#projects {
  background-color: #ffffff;
  min-height: 100vh;
}

#contact {
  background-color: #ffcccc;
  min-height: 100vh;
}

footer {
  background-color: #ff0066;
  color: white;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
